{{ header }}
<div id="checkout-checkout" class="container">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
      <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
  <div class="row">{{ column_left }}
    <div id="content" class="col">{{ content_top }}
      <h1>{{ heading_title }}</h1>
      <div class="row">
        {% if register or payment_address or shipping_address %}
          <div class="col-md-7 mb-3">
            {% if register %}
              <div id="checkout-register">{{ register }}</div>
            {% endif %}
            {% if payment_address %}
              <div id="checkout-payment-address">{{ payment_address }}</div>
            {% endif %}
            {% if shipping_address %}
              <div id="checkout-shipping-address">{{ shipping_address }}</div>
            {% endif %}
          </div>
        {% endif %}
   

        <div class="col">
          {% if shipping_method %}
            <div id="checkout-shipping-method" class="mb-3">{{ shipping_method }}</div>
          {% endif %}
          <div id="checkout-payment-method" class="mb-4">{{ payment_method }}</div>
          <div id="checkout-confirm">{{ confirm }}</div>
 <div id="checkout-products" class="mb-4">
 
    {% for product in products %}
        <div class="product-item">
         
            <div class="product-color">
                <label>Custom Color:{{selected_color}}</label>
                <div>
                     {% for color in product.colors %}
                        <input type="radio" id="color_{{ color.color_id }}" name="custom_color_{{ product.cart_id }}" value="{{ color.color_id }}" 
                               {% if color.name == selected_color %}checked{% endif %} 
                               {% if selected_color is not empty and color.name != selected_color %}disabled{% endif %}>
                        <label for="color_{{ color.color_id }}">{{ color.name }}</label><br>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endfor %}
</div>


        </div>
      </div>
    </div>
    {{ content_bottom }}
  </div>
  {{ column_right }}
</div>
{{ footer }}
